<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
  <meta name="description" content="Integlab web site" />
  <title>@@title</title>
  <meta name="theme-color" content="#fff">
  <!-- <meta name="theme-color" content="#000000" /> -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="shortcut icon" href="../assets/images/favicons/favicon.ico" type="image/x-icon">
  <link type="image/svg" sizes="32x32" rel="icon" href="../assets/images/favicons/favicon.png" />
  <link rel="stylesheet" href="../styles/css/@@css.min.css" />
</head>
