$preloader-page-bg: rgba(35, 35, 35, 0.85);

.page-preloader {
  position: absolute;
  display: block;
  width: 100vw;
  height: 100vh;
  z-index: 500;
  overflow: hidden;

  &.no-display {
    display: none;

    .page-preloader__bg {
      opacity: 0;
      pointer-events: none;
    }

    .page-preloader__preloader {
      display: none;
    }
  }

  // .page-preloader__bg
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $preloader-page-bg;
    opacity: 1;
    pointer-events: all;

    @supports (
      (-webkit-backdrop-filter: blur(14px)) or (backdrop-filter: blur(14px))
    ) {
      background: rgba(0, 0, 0, 0.8);
      backdrop-filter: blur(14px);
      -webkit-backdrop-filter: blur(14px);
    }
  }

  // .page-preloader__preloader
  &__preloader {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 96px;
    z-index: 11;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    .circular {
      animation: rotate 1.8s linear infinite;
      height: 100%;
      transform-origin: center center;
      width: 100%;
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 50%;
      right: 0;
      transform: translate(-50%, -50%);
      margin: auto;

      .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
      }

      @keyframes rotate {
        100% {
          transform: translate(-50%, -50%) rotate(360deg);
        }
      }

      @keyframes dash {
        0% {
          stroke-dasharray: 1, 200;
          stroke-dashoffset: 0;
          stroke: $white;
        }
        50% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -35px;
          stroke: $white;
        }
        100% {
          stroke-dasharray: 89, 200;
          stroke-dashoffset: -128px;
          stroke: $white;
        }
      }
    }
  }
}
