//? Брейк-поинты
$xl: 1920px; // Desktop and higher 1560
$lg: 1659.5px; // Wide desktops
$md: 1279.5px; // Laptops 912
$sm: 991.5px; // Tablets
$xs: 767.5px; // Mobile devices
$xxs: 320px; // Min template device width
