//! НЕ УДАЛЯТЬ
// *================================================================

//? Размеры макета
$max-width: 1920; // Ширина полотна (макета)
$container-max-width: 1560; // Ширина ПК контейнера
$container-min-width: 320px; // Минимальная ширина страницы

//? Общий отступ у контейнера (Пример формулы расчёта ниже)
// (если $responsive-type = 1, то 32px / 2 = 16px слева и справа)
// (если $responsive-type = 2, то 16px * 2 = 32px слева и справа)
// 0 = нет отступа
$container-default-padding: 16px;

//? Высота отступа контента от fixed header
$header-height: 112px;

// *================================================================

// размер rem установлен в 16px по умолчанию от размера html элемента
@function toRem($px) {
  @return calc($px / 16) + rem;
}

// Расчёт ширины контейнера
@mixin container($widths, $paddings: 16px) {
  @each $item in $widths {
    $breakpoint: nth($item, 1);
    $containerWidth: nth($item, 2);
    $padding: if(length($item) > 2, nth($item, 3), $paddings);

    @if $containerWidth == 100% {
      @media (max-width: $breakpoint) {
        max-width: 100%;
        padding: 0 ($padding + px);
      }
    } @else {
      @media (max-width: $breakpoint) {
        max-width: toRem($containerWidth + ($padding * 2));
        padding: 0 ($padding + px);
        width: 100%;
      }
    }
  }
}
